#pages_buttons_up, #pages_buttons_down{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#pages_buttons_up a, #pages_buttons_down a{
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
    color: black;
    display:flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;    
}
#pages_buttons_up a:not([href]), #pages_buttons_down a:not([href]){
    background-color: red;
    border-radius: 20px;
}