//Variables
$colourHeader: #00416d;
$colourBackground: rgb(237, 242, 252);
$colourTitles: white;
$colourForms: #2d7dbc;
$colourList: rgb(249, 249, 253);
$fontFamily: Calibri, Arial;
$urlFond: "../Ressources graphiques/CESI_Corporate_Ecole_Ingenieurs-test.jpg";
$urlLogo: "../Ressources graphiques/logo_cesi_with_text.svg";

//General
body {
    height: auto ;
    background-color: $colourBackground;
    margin: 0px;
    margin-top: 20px;
}

//Headers
#Link_offers{
    height: 40px;
    width: 100px;
    position: absolute;
    top: 150px;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_offers img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    }    
#Link_companies {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 12%;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_companies img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    }    
#Link_management {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 22%;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_management img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    } 
#Link_Advancement {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 32%;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_Advancement img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    } 
#Icon_contacts {
    height: 42px;
    width: 42px;
    background-image: url("../resources/icon_contacts.png");
    background-size: cover;
    position: absolute;
    top: 2.5%;
    right: 5%;
}
#Icon_bell {
    height: 50px;
    width: 50px;
    background-image: url("../resources/icon_cloche.png");
    background-size: cover;
    position: absolute;
    top: 2%;
    right: 1%;
}
#container {
    top: 50%;
    background-position-x: 0%;
    background-position-y: 50%;
}
h1 {
    font-family: $fontFamily;
    font-size: 50px;
    color: $colourTitles;
    text-align: center;
}
header{
    background-color: $colourHeader;
    width: 100%;
    height: 180px;
    padding: 1% 1% 2%;
    margin: -2%;
}
#logo_cesi_2 {
    height: 80px;
    width: 318.4px;
    background-image: url("../resources/logo_cesi_with_text.png");
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 10px;
}
a{
    font-family: $fontFamily;
    color: $colourTitles;
    display: block;
    text-decoration: none;
    border-radius: 40px 40px 40px 40px;
    transition: 0.75s;
    line-height: 15%;
    padding: 0.2%;
    padding-left: 0.5%;
    padding-right: 1.3%;
    margin: 0.05%;
}
a:hover {
    background-color: red;
}


//Companies, Offers (lists)
#Filtres{
    width: 100%;
    height: 100px;
    position: relative;
    top: 70px;
}
#Filtre_1 {
    height: 25px;
    position: relative;
    top: 0%;
    left: 35%;
}
#Filtre_2 {
    height: 20px;
    position: relative;
    top: 15%;
    left: 32%;
}
#Filtre_3 {
    height: 20px;
    position: relative;
    top: 30%;
    left: 35%;
}
#bouton {
    position: relative;
    bottom: 115%;
    left: 310px;
    width: 150px;
}
#Search {
    font-family: $fontFamily;
    background-color: $colourForms;
    color: $colourTitles;
    line-height: 200%;
    width: 100%;
    border-radius: 40px 40px 40px 40px;
}
#Icon_filtre {
    height: 40px;
    width: 40px;
    background-image: url("../resources/icon_filtre.png");
    background-size: cover;
    position: relative;
    bottom: 62px;
    left: 470px;
}

#Icon_barre {
    height: 40px;
    width: 40px;
    background-image: url("../resources/icon_barre.png");
    background-size: cover;
    position: absolute;
    bottom: -9px;
    left: 470px;
}
#What,
#Where {
    height: 100%;
}
#Skills,
#Date,
#Companies,
#Duration,
#Class_concerned,
#Remuneration,
#Number_places,
#Domain_Activity,
#Number_of_CESI_trainees,
#Confidence,
#Evaluation_of_trainees {
    height: 100%;
}
.list {
    height: auto;
    width: 70%;
    position: relative;
    left: 15%;
    top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tab_list{
    font-family: $fontFamily;
    background-color: $colourBackground;
    width: 90%;
    height: 90px;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab_list img{
    height: 100%;
    padding-right: 20px;
}

//Management

#Nav_2 {
    height: 1%;
    width: 100%;
    float: center;
    background-size: cover;
    position: absolute;
    top: 25%;
    left: 7%;

    a {
        font-family: $fontFamily;
        font-weight: bold;
        font-size: 100%;
        background-color: white;
        color: black;
        border: 1px solid;
        border-color: black;
        text-align: center;
        text-decoration: none;
        //width: 20%;
        //line-height: 15%;
        //padding: 1%;
        padding-left: 7%;
        padding-right: 7%;
        margin: -0.2%;
        border-radius: 0px;
        transition: 0.75s;
        display: inline;
    }
    a:hover {
        background-color: $colourForms;
        color: white;
    }
}

// Management offer

#Offer_1 {
    top: 100%;
}

// myaccount

#My_account {
    font-family: $fontFamily;
    font-size: 100%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 30%;
    height: 1%;
    float: center;
    background-size: cover;
    position: absolute;
    top: 24%;
    border-radius:  10% 10% 10% 10%;

    h3 {
        font-size: 250%;
        text-decoration: underline;
    }

    .input {
        height: 300%;
        width: 75%;
        margin-left: 10%;
    }

    .button {
        font-family: $fontFamily;
        color: $colourTitles;
        font-size: 150%;
        background-color: red;
        text-align: center;
        text-decoration: none;
        width: 50%;
        line-height: 150%;
        padding: 1%;
        padding-left: 5%;
        padding-right: 3%;
        margin: 5%;
        margin-left: 23%;
        border-radius: 40px 40px 40px 40px;
        transition: 0.75s;
        display: inline;
    }

    .button:hover {
        background-color: rgb(190, 21, 21);
    }
}



//Responsiveness
@media (max-width: 1200px) {
    #Icon_offers,
    #Icon_companies,
    #Icon_management,
    #Icon_Advancement,
    #Icon_contacts,
    #Icon_cloche {
        width: 30px;
        height: 30px;
    }
}