//Variables
$colourHeader: #00416d;
$colourBackground: rgb(237, 242, 252);
$colourTitles: white;
$colourForms: #2d7dbc;
$colourList: rgb(249, 249, 253);
$fontFamily: Calibri, Arial;
$urlFond: "../Ressources graphiques/CESI_Corporate_Ecole_Ingenieurs-test.jpg";
$urlLogo: "../Ressources graphiques/logo_cesi_with_text.svg";

//General
body {
    height: auto ;
    background-color: $colourBackground;
    margin: 0px;
}

//Headers
#Link_offers{
    height: 40px;
    width: 120px;
    position: absolute;
    top: 150px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_offers img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    }    
#Link_companies {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_companies img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    }    
#Link_management {
    height: 40px;
    width: 160px;
    position: absolute;
    top: 150px;
    left: 390px;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_management img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    } 
#Link_Advancement {
    height: 40px;
    width: 160px;
    position: absolute;
    top: 150px;
    left: 590px;
    display: flex;
    align-items: center;
    justify-content: left;
}
    #Link_Advancement img{
        height: 100%;
        padding-left: 5px;
        padding-right: 20px;
    } 
#top_left_icons{
    position:relative;
    right: -1720px;
    top: -120px;
    width: 110px;
    height: 60px;
    display: flex;
    flex-direction: row;
}
    #Icon_contacts {
        height: 50px;
        width: 50px;
        background-image: url("../resources/icon_contacts.png");
        background-size: cover;
        margin-right: 15px;
    }
    #Icon_bell {
        height: 50px;
        width: 50px;
        background-image: url("../resources/icon_cloche.png");
        background-size: cover;
    }
h1 {
    font-family: $fontFamily;
    font-size: 50px;
    color: $colourTitles;
    text-align: center;
}
header{
    background-color: $colourHeader;
    width: 100%;
    height: 180px;
    padding: 1% 1% 2%;
    margin: 0%;
}
#logo_cesi_2 {
    height: 80px;
    width: 318.4px;
    background-image: url("../resources/logo_cesi_with_text.png");
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 10px;
}
a{
    font-family: $fontFamily;
    color: $colourTitles;
    text-decoration: none;
    border-radius: 40px 40px 40px 40px;
    transition: 0.75s;
    line-height: 15%;
    padding: 0.2%;
    margin: 0.05%;
}
a:hover {
    background-color: red;
}


//Companies, Offers (lists)
#Filtres{
    width: 100%;
    height: 100px;
    position: relative;
    top: 70px;
}
#Filtre_1 {
    height: 25px;
    position: relative;
    top: 0%;
    left: 35%;
}
#Filtre_2 {
    height: 20px;
    position: relative;
    top: 15%;
    left: 32%;
}
#Filtre_3 {
    height: 20px;
    position: relative;
    top: 30%;
    left: 35%;
}
#Icon_filtre {
    height: 40px;
    width: 40px;
    background-image: url("../resources/icon_filtre.png");
    background-size: cover;
    position: relative;
    bottom: 39px;
    left: 470px;
}
#Icon_barre {
    height: 40px;
    width: 40px;
    background-image: url("../resources/icon_barre.png");
    background-size: cover;
    position: absolute;
    bottom: -9px;
    left: 470px;
}
#What,
#Where {
    height: 100%;
}
#Search {
    font-family: $fontFamily;
    background-color: $colourForms;
    color: $colourTitles;
    line-height: 200%;
    width: 150px;
    border-radius: 40px 40px 40px 40px;
}
#Skills,
#Date,
#Companies,
#Duration,
#Class_concerned,
#Remuneration,
#Number_places,
#Domain_Activity,
#Number_of_CESI_trainees,
#Confidence,
#Evaluation_of_trainees {
    height: 100%;
}
.list {
    height: auto;
    width: 70%;
    position: relative;
    left: 15%;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tab_list{
    font-family: $fontFamily;
    background-color: $colourList;
    width: 90%;
    height: 90px;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
}

//Management

#Nav_2 {
    height: 1%;
    width: 100%;
    float: center;
    background-size: cover;
    position: absolute;
    top: 25%;
    left: 7%;

    a {
        font-family: $fontFamily;
        font-weight: bold;
        font-size: 100%;
        background-color: white;
        color: black;
        border: 1px solid;
        border-color: black;
        text-align: center;
        text-decoration: none;
        //width: 20%;
        //line-height: 15%;
        //padding: 1%;
        padding-left: 7%;
        padding-right: 7%;
        margin: -0.2%;
        border-radius: 0px;
        transition: 0.75s;
        display: inline;
    }
    a:hover {
        background-color: $colourForms;
        color: white;
    }
}

// Management offer

#Offer_1 {
    top: 100%;
}



//Responsiveness
@media (max-width: 780px) {
    #Icon_contacts,
    #Icon_bell {
        width: 30px;
        height: 30px;
    }
}