body {
  height: auto;
  background-color: #edf2fc;
  margin: 0px;
}

#Link_offers {
  height: 40px;
  width: 120px;
  margin-top: 0px;
  margin-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#Link_offers img {
  height: 100%;
  padding-left: 5px;
  padding-right: 20px;
}

#Link_companies {
  height: 40px;
  width: 150px;
  margin-top: -50px;
  margin-left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#Link_companies img {
  height: 100%;
  padding-left: 5px;
  padding-right: 20px;
}

#Link_Advancement {
  height: 40px;
  width: 160px;
  margin-top: -50px;
  margin-left: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#Link_management img {
  height: 100%;
  padding-left: 5px;
  padding-right: 20px;
}

#Link_management {
  height: 40px;
  width: 160px;
  margin-top: -50px;
  margin-left: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#Link_Advancement img {
  height: 100%;
  padding-left: 5px;
  padding-right: 20px;
}

#top_left_icons {
  margin-left: 90vw;
  margin-top: 20px;
  width: 110px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#Icon_contacts {
  height: 50px;
  width: 50px;
  background-image: url("../resources/icon_contacts.png");
  background-size: cover;
  margin-right: 15px;
}

#Icon_bell {
  height: 50px;
  width: 50px;
  background-image: url("../resources/icon_cloche.png");
  background-size: cover;
}

h1 {
  font-family: Calibri, Arial;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

header {
  background-color: #00416d;
  width: 100%;
  height: 200px;
  padding: 3vh;
  margin: 0%;
}

nav {
  height: 100%;
  width: 100%;
  margin: 0%;
}

#logo_cesi_2 {
  height: 80px;
  width: 318.4px;
  background-image: url("../resources/logo_cesi_with_text.png");
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
}

a {
  font-family: Calibri, Arial;
  color: white;
  text-decoration: none;
  border-radius: 40px 40px 40px 40px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  line-height: 15%;
  padding: 0.2%;
  margin: 0.05%;
}

a:hover {
  background-color: red;
}

#Filtres {
  width: 100%;
  height: 100px;
  position: relative;
  top: 70px;
}

#Filtre_1 {
  height: 25px;
  position: relative;
  top: 0%;
  left: 35%;
}

#Filtre_2 {
  height: 20px;
  position: relative;
  top: 15%;
  left: 32%;
}

#Filtre_3 {
  height: 20px;
  position: relative;
  top: 30%;
  left: 35%;
}

#Icon_filtre {
  height: 40px;
  width: 40px;
  background-image: url("../resources/icon_filtre.png");
  background-size: cover;
  position: relative;
  bottom: 39px;
  left: 470px;
}

#Icon_barre {
  height: 40px;
  width: 40px;
  background-image: url("../resources/icon_barre.png");
  background-size: cover;
  position: absolute;
  bottom: -9px;
  left: 470px;
}

#What,
#Where {
  height: 100%;
}

#Search {
  font-family: Calibri, Arial;
  background-color: #2d7dbc;
  color: white;
  line-height: 200%;
  width: 150px;
  border-radius: 40px 40px 40px 40px;
}

#Skills,
#Date,
#Companies,
#Duration,
#Class_concerned,
#Remuneration,
#Number_places,
#Domain_Activity,
#Number_of_CESI_trainees,
#Confidence,
#Evaluation_of_trainees {
  height: 100%;
}

.list {
  height: auto;
  width: 70%;
  position: relative;
  left: 15%;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab_list {
  font-family: Calibri, Arial;
  background-color: #f9f9fd;
  width: 90%;
  height: auto;
  margin: 20px;
  padding: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Nav_2 {
  height: 1%;
  width: 100%;
  float: center;
  background-size: cover;
  position: absolute;
  top: 25%;
  left: 7%;
}

#Nav_2 a {
  font-family: Calibri, Arial;
  font-weight: bold;
  font-size: 100%;
  background-color: white;
  color: black;
  border: 1px solid;
  border-color: black;
  text-align: center;
  text-decoration: none;
  padding-left: 7%;
  padding-right: 7%;
  margin: -0.2%;
  border-radius: 0px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  display: inline;
}

#Nav_2 a:hover {
  background-color: #2d7dbc;
  color: white;
}

#Offer_1 {
  top: 100%;
}

@media (max-width: 780px) {
  #Icon_contacts,
  #Icon_bell {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=MainStyle.css.map */