body {
  height: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #edf2fc;
  margin-top: 20px;
}

#logo_cesi {
  height: 10vu;
  width: 43vh;
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 45px;
  display: inline;
}

#form_signin {
  font-family: Calibri, Arial;
  color: #00416d;
  background-image: url("../resources/CESI_Corporate_Ecole_Ingenieurs-test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 90vh;
  width: 200vh;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #2d7dbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#login_left {
  float: left;
  width: 60%;
  text-align: center;
  height: 100% auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login_left h1 {
  font-size: 50px;
}

#login_left h3 {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

#login_left div {
  width: 370px;
}

#login_right {
  float: right;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  border-radius: 10px;
  height: 100% auto;
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#text_login h1 {
  font-size: 50px;
  font-weight: 350;
  color: #00416d;
  text-decoration: underline;
}

#text_login h3 {
  color: red;
  margin-top: -10%;
}

#hidden_logo_cesi {
  height: 25%;
  width: 60%;
  display: none;
}

#email_id,
#password {
  height: 30px;
  width: 100%;
  border-color: #2d7dbc;
  border-width: 1px;
  border-style: solid;
  color: #2d7dbc;
}

input[type="submit"] {
  background-color: #2d7dbc;
  border-radius: 20px;
  border-style: solid;
  width: 150px;
  height: 35px;
  color: white;
}

@media (max-width: 689px) {
  #login_left {
    display: none;
  }
  #login_right {
    width: 90%;
    height: 70%;
  }
  #form_signin {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #hidden_logo_cesi {
    display: inline;
  }
}

@media (max-height: 418.8px) {
  #logo_cesi {
    top: 40px;
    left: 70px;
  }
  #text_login h1 {
    font-size: 35px;
  }
}
/*# sourceMappingURL=style.css.map */